/* 메인 1. swiper */
main .maintop {
  width: 100%; min-width:1440px;
}
/* 메인 2. sns review swiper */
main .snsswiper{
  width: 1440px;
  margin: 0 auto;
}
main .snsswiper .swiper-slide img {
  width: 100%;
  height: 100%;
}
main #sns .swiper-scrollbar {
  transform:translateY(60px);
}